@use '../../styles/variables';

.counterstrike-result--wrapper {
    margin: 1rem 0 1rem 0;
    width: 80%;
}

.counterstrike-result-info {
    background-color: variables.$container-color;
    width: 100%;
    border-radius: 0.5rem;
}

.counterstrike-result-info p {
    font-weight: variables.$font-weight-bold;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    color: variables.$text-color;
}

.counterstrike-result-info span {
    font-weight: variables.$font-weight-normal;
}