$text-color: #050505;
$wrapper-color: #455768;
$container-color: #B8D5F1;
$button-color: #E8F2FB;

$font-style: 'fira sans';
$font-weight-normal: 400;
$font-size-normal: 16px;

$font-weight-bold: 500;

$font-weight-subhead: 700;
$font-size-subhead: 24px;


